
body {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    
#main {
    position: absolute;
    top: 150px;
    background-color: rgb(16, 1, 19);
    height: 25vh;
    width: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgb(72, 60, 243);
    

}

.main-clock {
    top: 0;
    left: 20px;
    position: absolute;
    margin-top: 15px;
    color:rgb(255, 255, 255);
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poiret One', cursive;
    
}
#clock {
    text-shadow: 0px 3px 10px rgb(0, 148, 185);
    
}

.date {
    top: 0;
    left: 20px;
    position: absolute;
    margin-top: 95px;
    color:rgb(255, 230, 0);
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    text-shadow: 0px 3px 15px rgb(255, 30, 116);
    
}

.sess {
    position: absolute;
    top: 0;
    margin-top: 60px;
    right: 5%;
    color:rgb(0, 225, 255);
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 0 3px 10px rgb(248, 6, 6);

}