* {
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-clock {
    color:coral;
    text-align: center;
    font-size: 150px;
    font-family: 'Poiret One', cursive;
    margin-bottom: 0;
}
.sess {
    color:coral;
 text-align: center;
 font-size: 48px;
 font-family: 'Poiret One', cursive;
 margin-top: 0;
}


.date {
    color: burlywood;
    text-align: center;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}
.temp-text {
    color:rgb(192, 168, 168);
text-align: center;
font-size: 50px;
font-family: 'Shadows Into Light', cursive;
}
.alarm {
    color: burlywood;
    text-align: center;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}
.setalarm {
    color:blanchedalmond;
    background-color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Shadows Into Light', cursive;
    width: 50px;
    margin-left: 50%;
    margin-top: 10px;
    border-color: aliceblue;
    border-width: 1px;
    border-style: solid;
}